# SPDX-FileCopyrightText: 2021,2023 University of Rochester
# SPDX-License-Identifier: LGPL-3.0-or-later

build/*
ptx_lexer_ply.py
ptx_parser_ply.py
ptxast.py
ptxgenactions.py
grammar/build/*
parser.out
parsetab.py
lextab.py
*.egg-info
build-*/
perf/
TODO*
bugs/

